.room-entry-apportionment-account-table {
    border-collapse: separate;
    border-spacing: 3px;
}

    .room-entry-apportionment-account-table th {
        padding: 3px;
        text-align: left;
        background-color: #dcdcdc;
    }

    .room-entry-apportionment-account-table td {
        padding: 3px;
    }

        .room-entry-apportionment-account-table td input[type="text"] {
            text-align: right;
        }

.billing {
    display: none;
    padding-left: 10px;
}

    .billing .loading {
        background: #fff url(images/ajax-loader.gif) no-repeat left center;
        line-height: 30px;
        padding-left: 20px;
    }

.nodata {
    font-style: italic;
    color: #808080;
}