<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login"/>
      <dataAccess showSql="false"/>
      <email host="127.0.0.1" log="true"/>
      <control host="http://wagosvr:7778/"/>
      <log name="sselUser" enabled="true"/>
    </provider>
  </lnf>

  <connectionStrings>
    <add name="cnSselData" connectionString="xxxxxx"/>
  </connectionStrings>

  <appSettings>
    <add key="ExitApplicationUrl" value="xxxx" />
    <add key="AdminEmails" value="xxxxx"/>
    <add key="AllowSave" value="false"/>
    <add key="ChangePasswordRedirect" value="/sselonline/Blank.aspx"/>
    <add key="ApiBaseUrl" value="xxxxx"/>
    <add key="BasicAuthUsername" value="xxxxx"/>
    <add key="BasicAuthPassword" value="xxxxx"/>
    <add key="MongoConnectionString" value="xxxxx"/>
  </appSettings>


  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>

    <authentication mode="Forms">
      <forms name="xxxxx" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" cookieless="UseCookies" domain="xxxxx"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>

    <machineKey compatibilityMode="Framework20SP2" validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES"/>

    <customErrors mode="Off"/>
  </system.web>
</configuration>
